@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

:root {
  font: 16px / 1 sans-serif;
  font-family: 'Mulish', sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-image: url(https://wallpapercave.com/wp/wp2895269.jpg);
  background-size: cover;
}

h1 {
  padding: 20px;
  margin: 10px;
  font-size: 3rem;
  // text-shadow: 2px 6px 5px rgb(105, 154, 173);
  text-shadow: 2px 6px 5px rgb(163, 221, 245);
}

h2 {
  border-radius: 1rem;
  color: rgb(117, 117, 117);
  font-size: 20px;
  padding: 30px;
  margin: 10px;
}

a.homeLink {
  color: rgb(117, 117, 117);
}
header {
  // border: thin solid rgb(172, 172, 172);
  box-shadow: 5px 5px 30px 2px rgb(115, 181, 219);
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  height: 100px;
  color: rgb(117, 117, 117);
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}
ul {
  // border: thin solid rgb(172, 172, 172);
  border-radius: 3rem;
  list-style: none;
  padding: 50px;
  text-align: center;
  background-color: white;
  box-shadow: 5px 5px 30px 2px rgb(115, 181, 219);
}
li {
  line-height: 2rem;
}

h3 {
  margin-top: 0;
  border-radius: 2rem;
  padding: 10px;
  background-color: rgb(194, 230, 255);
}
form {
  background-color: rgb(194, 230, 255);
  border-radius: 2rem;
  margin-top: 10px;
  padding: 20px;
  color: rgb(80, 80, 80);
}

div.createPet {
  margin: 10px;
}
button.create {
  border: none;
  box-shadow: 5px 5px 14px 0px rgb(115, 181, 219);

  border-radius: 2rem;
  cursor: pointer;
  font-family: 'Mulish', sans-serif;
  padding: 5px 10px;
  margin: 1px 1px 1px 15px;
  background-color: rgb(80, 170, 223);
  color: white;
}

a {
  text-decoration: none;
  color: rgb(80, 80, 80);
}
a:hover {
  background-color: rgb(194, 230, 255);
  border-radius: 10px;
  font-size: 20px;
}

input {
  padding: 6px;
  width: 200px;
  margin: 10px;
  color: rgb(80, 80, 80);
  border: none;
}

//petinfopage

p.petName {
  font-size: 35px;
  margin: 0;
  text-shadow: 2px 6px 5px rgb(163, 221, 245);
  color: rgb(95, 95, 95);
}

div.feedpetscold {
  // background-color: rgb(194, 230, 255);
  border-radius: 2rem;
  padding: 20px;
}
button.interact {
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  font-family: 'Mulish', sans-serif;
  padding: 5px 10px;
  margin: 1px 1px 1px 15px;
  background-color: rgb(80, 170, 223);
  color: white;
  font-size: 18px;
  box-shadow: 5px 5px 14px 0px rgb(115, 181, 219);
}
button.delete {
  border: none;
  background-color: rgb(80, 170, 223);
  color: white;
  border-radius: 2rem;
  cursor: pointer;
  font-family: 'Mulish', sans-serif;
  padding: 5px 10px;
  margin: 5px 1px -10px 15px;
}

.delete:hover,
.interact:hover,
.create:hover {
  background-color: rgb(175, 219, 238);
  border: none;
}

p {
  color: rgb(80, 80, 80);
}
// @media all and (max-width: 500px) {
//   ul {
//     width: 300px;
//   }
// }
@media all and (max-width: 45px) {
  label {
    font-size: 10px;
    color: rgb(194, 230, 255);
  }
  div.createPet {
    margin-bottom: 0;
  }
}
